body {
    scroll-behavior: smooth;
    color: white;
    overflow-x: hidden !important;
}
h1,
h2,
h3,
h4,
h5,h6 {
    font-family: Montserrat;
}
.text-bolder {
    font-weight: bolder;
}
#mynav {
    font-family: Montserrat;
    font-size: 16px;
    min-height: 60px;
    transition: background 0.5s;
}
.logo {
    height: 70px;
    transition: height 0.75s;
}
::-webkit-scrollbar-track{ background-color: white }
::-webkit-scrollbar-thumb{ background-color: white;}
.section-heading {
    font-size: 50px;
    font-family: Montserrat;
    font-weight: bold;
}
/*About Us*/
.about-heading-bg {
    position: absolute;
    left: 10%;
    max-width: 300px;
}
@media only screen and (max-width: 350px) {
    .about-heading-bg {
        left: 10%;
        max-width: 250px !important;
    }
}

/*Services*/
.middle-design-left {
    padding-right: 4rem !important;
}
.middle-design-right {
    padding-left: 4rem !important;
}
.design {
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.16);
    transition: background, color 1s ease-in;
}
.design.selected {
    background: linear-gradient(#0db3c7 0%, #18e9dc 100%);
}
.design.selected > .design-data {
    color: #FFFFFF;
}
.design-data {
    position: absolute;
    top: 22px;
    transform: rotate(-45deg);
}
.service-icon {
    width: 50px;
}
#mobile-icon {
    height: 50px;
    width: 30px;
}


.design-data > h6 {
    font-family: Poiret One;
    font-size: 20px;
    margin-top: 7px;
}


/*Clients*/
.clients {
}
.client-heading-bg {
    position: absolute;
    max-width: 300px;
}
@media only screen and (max-width: 350px) {
    .client-heading-bg {
        position: absolute;
        max-width: 250px !important;
    }
}


/*CaROUSEL */
.multi-item-carousel .carousel-inner > .carousel-item.active {
    display: flex !important;
}
.multi-item-carousel .carousel-inner .carousel-item-right.active,
.multi-item-carousel .carousel-inner .carousel-item-next {
    display: none;
    transform: translateX(33.33%);
}

.multi-item-carousel .carousel-inner .carousel-item-left.active,
.multi-item-carousel .carousel-inner .carousel-item-prev {
    display: none;
    transform: translateX(-33.33%)
}

.multi-item-carousel .carousel-inner .carousel-item-right,
.multi-item-carousel .carousel-inner .carousel-item-left{
    transform: translateX(0);
}


/*Bootstrap*/

.dropdown .dropdown-menu a:active{
    background-color: #4ab3c7;
}
.carousel-indicators{
    top:calc(100% + 50px) !important;
}
.carousel-indicators li{
    border-radius: 50%;
    top:0;
    margin: 0 10px;
    cursor: pointer;
    transition: all 200ms ease-in;
    height: 16px !important;
    width: 16px !important;
}
.carousel-indicators li.active{
    top:-7px;
    height: 28px !important;
    width: 28px !important;
}

input[type=text],
input[type=email],
input[type=tel],
textarea,
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
    color: white !important;
}

/*Overriding Bootstrap*/

.nav-item a.nav-link{
    color: #FFF !important;
    padding-left: 50px !important;
}
.list-group-item{ background-color: inherit !important;}
.list-group-flush .list-group-flush .list-group-item{
    border: none !important;
    font-size: 16px;
    min-height: 30px;
    line-height: 30px;
    text-transform: capitalize;
}
.list-group-item:first-child{
    border-top: none !important;
}
.list-group-item.active{
    border-right: 5px solid white;
    margin-right: 0 !important;
    font-family: QuicksandBold;
}
.list-group-flush .list-group-flush .list-group-item.active {
    border-right: 3px solid white !important;
    border-left: 3px solid white !important;
    font-family: QuicksandBold;
}


/*Contact Us*/
.bg-gradient {
    border-radius: 26px;
    height: max-content;
    padding: 65px 0;
    background: linear-gradient(#0fbcca 0%, #085e65 100%);
    border: 1px solid #0daebb;
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.16));
}
.map {
    width: 120%;
    max-height: 100%;
}
.input-container {
    display: flex;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 7px;
    min-height: 50px;
    height: auto;
    padding-left: 30px;
    margin: 20px auto;
    transition: border-color ease 0.125s;
    -ms-transition: border-color ease 0.125s;
    -moz-transition: border-color ease 0.125s;
    -webkit-transition: border-color ease 0.125s;
}

.input-container label {
    position: absolute;
    align-self: flex-start;
    transform: translateY(-60%) translateX(-10px);
    display: inline-block;
    background: #0db3c7;
    padding: 0 15px;
    opacity: 100%;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: "Montserrat Alternates", serif;
}
.input-container .form-control {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    color: white;
}
.input-container .form-control::placeholder {
    color: white;
    opacity: 40%;
}
.input-container input {
    resize: none;
    color: white;
    border-radius: 30px;
    width: calc(100% - 20px);
    font-family: "Montserrat Alternates", serif;
}
.input-container textarea {
    margin-bottom: 30px;
    color: white;
    margin-top: 20px;
    width: calc(100% - 40px);
    font-family: "Montserrat Alternates", serif;
}
.send-button {
    min-width: 150px;
    font-family: "Montserrat Alternates", serif;
    border-radius: 7px;
    outline: none;
    background: white;
    margin: 25px 0;
    font-size: 24px;
}



/*Footer*/
.footer {
    display: inline-block;
    background: linear-gradient(#18e9dc 0%, #0db3c7 100%);
}
@media only screen and (min-width: 578px)  {
    .footer {
        background: transparent;
        display: inline-block;
        background-image: url("assets/footer/foot14.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
.social-links {
    margin: 90px 0px;
}
.image-responsive {
    height: 50px;
}
.copyright {
    background: #6FF9E4;
}
.footer-content {
    display: block;
}